[Unit]
Description=The Forgotten Server
After=network.target mysql.service

[Service]
Type=simple
ExecStart=/home/arch/srv/restarter.sh
WorkingDirectory=/home/arch/srv
Restart=always

[Install]
WantedBy=default.target
